{% extends "adventure/sidebar-view.html.twig" %}

{# {% block title %}Adventure Game{% endblock %} #}

{% block main %}
    <h1>About</h1>

    <p>
        This application was created within the framework of the course <i>Objektorienterade webbteknologier</i>
        (a.k.a <a class="adventure-link" href="https://dbwebb.se/kurser/mvc-v2">mvc</a>) at Blekinge Tekniska Högskolan.
        The game <i>Jordgubbstårta</i> was developed for the final course project (kmom10).
    </p>

    {# <div class="img-profile">
        <a href="{{ asset('img/sunflower.jpg') }}">
            <img src="{{ asset('img/sunflower.jpg') }}" alt="Picture of a sunflower">
        </a>
    </div> #}
{% endblock %}