{% extends "adventure/sidebar-view.html.twig" %}

{# {% block title %}Adventure Game{% endblock %} #}

{% block main %}
    <h1>API</h1>

    <p>
        Test.
    </p>

    {# <div class="img-profile">
        <a href="{{ asset('img/sunflower.jpg') }}">
            <img src="{{ asset('img/sunflower.jpg') }}" alt="Picture of a sunflower">
        </a>
    </div> #}
{% endblock %}