{% extends "adventure/sidebar-view.html.twig" %}

{# {% block title %}Adventure Game{% endblock %} #}

{% block main %}
    <h1>Jordgubbstårta</h1>

    <p>
        Here is how to make a delicious Jordgubbstårta in no time.
    </p>

    <h2>Ingredients</h2>
    <ul>
        <li>Flour (pantry)</li>
        <li>Sugar (pantry)</li>
        <li>Salt (pantry)</li>
        <li>Jam (pantry)</li>
        <li>Vanilla extract (pantry)</li>
        <li>Strawberries (garden)</li>
        <li>Eggs (farm)</li>
        <li>Milk (farm)</li>
        <li>Cream (farm)</li>
        <li>Butter (farm)</li>
    </ul>

    <p>Those are the ten ingredient needed to bake a deliciously summery Jordgubbstårta!</p>
{% endblock %}