{% extends "adventure/sidebar-view.html.twig" %}

{# {% block title %}Adventure Game{% endblock %} #}

{% block main %}
    <h1>Jordgubbstårta</h1>

    <p>
        Follow this recipe step by step and you will be able to bake a delicious Jordgubbstårta in no time.
    </p>

    <h2>First, from the kitchen, go to the pantry...</h2>
    <ul>
        <li>go east</li>
        <ul>
            <li>pick up flour</li>
            <li>pick up sugar</li>
            <li>pick up salt</li>
            <li>pick up jam</li>
            <li>pick up vanilla</li>
        </ul>
    </ul>
    <p> Then go back to the kitchen and into the garden...</p>
    <ul>
        <li>go west</li>
        <li>go north</li>
        <ul>
            <li>pick up strawberries</li>
        </ul>
    </ul>
    <p> Next, from the garden, go to the farm...</p>
    <ul>
        <li>go north</li>
        <ul>
            <li>pick up eggs</li>
            <li>pick up milk</li>
            <li>pick up cream</li>
            <li>pick up butter</li>
        </ul>
    </ul>
    <p>You have gathered all ten ingredient needed to bake a deliciously summery Jordgubbstårta!</p>
    <p> Now go back to the kitchen to bake the cake...</p>
    <ul>
        <li>go south</li>
        <li>go south</li>
        <li>bake cake</li>
    </ul>

    <p>Congratulation on finishing the cake!</p>

{% endblock %}