
$handwriting: 'Amatic SC', cursive;
$sans-serif: 'Raleway', sans-serif;

.adventure-body {
    background-color: rgb(249, 233, 236);
}

.adventure-sidebar {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(248, 141, 173);
}

.adventure-header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    font-family: $handwriting;
    width: 100%;
}

.adventure-title {
    margin: 20px auto;

    a {
        text-decoration: none;
    }

    a:hover {
        opacity: 0.5;
    }

    img {
        max-height: 60px;
    }
}

.adventure-nav {
    ul {
        margin: 0;
        padding: 0;
        padding-left: 60px;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    ul li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.adventure-navlink {
    text-decoration: none;
    font-size: $base-font-size * 2;
    color: #fff;
}

.adventure-navlink:hover {
    font-style: italic;
}

.adventure-navlink:visited {
    color: #fff;
}

.adventure-main {
    margin: 0 0 0 160px;
    padding: 2rem;
    color: #000;
    font-family: $sans-serif;

    h1,
    h2,
    h3 {
        margin: 0.5rem 0 1rem;
    }

    p {
        margin: 0.6rem 0;
    }
}

.adventure-link {
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 600;
    color: rgb(29, 47, 111);
}

.adventure-link:hover {
    font-style: italic;
    border-bottom: 1px solid rgb(29, 47, 111);
}

.adventure-link:visited {
    color: rgb(29, 47, 111);
    border-bottom: 1px solid rgb(29, 47, 111);
}

.adventure-footer {
    border: none;
    font-family: $handwriting;
}

.adventure-button {
    margin-top: 1rem;
    padding: 0.8rem;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #93ddf5;
    color: #eb5e65;
    font-size: $base-font-size * 1.2;
    border-radius: 10px;
}

.adventure-full-width {
    width: 100%;
}

.adventure-button:hover {
    background-color: darken(#93ddf5, 10%);
}

.adventure-button:visited {
    color: #eb5e65;
}

.adventure-room {
    background-color: rgb(29, 47, 111);
    height: 300px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.adventure-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    // opacity: 0.2;
}

.adventure-basket {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    background-color: rgb(250, 199, 72);

    div {
        padding: 0.5rem;
        height: 100%;
        width: 31%;
        background-color: rgb(249, 233, 236);
        border: 1px solid rgb(250, 199, 72);
    }

    div img {
        height: inherit;
        width: 100%;
    }
}

.adventure-text {
    margin: 1rem auto 300px;
    width: 80%;
    font-family: $sans-serif;
    font-size: $base-font-size * 1.2;
    text-align: center;
}

// .animated {
// }

.adventure-gamebar {
    margin: 0;
    padding: 0.2rem 1rem;
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgb(248, 141, 173);

    p {
        font-family: $handwriting;
        font-size: $base-font-size * 2;
    }
}

.adventure-form {
    margin: 0;
    padding-top: 0.5rem;

    * {
        height: 45px;
    }
}

.adventure-input,
.adventure-select {
    margin: 0;
    padding: 0.4rem 0.6rem;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: $sans-serif;
    border: 1px solid rgb(249, 233, 236);
    border-radius: 0.2rem;
    box-sizing: border-box;
    // height: 40px;
}

.adventure-select {
    font-variant: small-caps;
    text-align: center;
    min-width: fit-content;
}

.adventure-input {
    min-width: 200px;
}

.adventure-input:focus {
    outline: rgb(250, 199, 72)
}

// .input:valid {
//     border: 1px solid rgb(176, 244, 176);
// }

// .input:invalid {
//     border: 1px solid rgb(243, 185, 185);
// }
