$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: multiply($base-font-size, $base-line-height);

// @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
@import 'header';
@import 'footer';
@import 'forms';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Source Serif Pro', serif;
}

main {
    margin: 0 auto;
    width: 80%;
    min-height: 650px;
}

h1,
h2,
h3 {
    margin: $magic-number 0;
}

h2 {
    font-style: italic;
}

p {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0.4em 0;
}

code {
    border-radius: 5px;
    padding: 0.25em;
    font-family: 'Roboto Mono', monospace;
    font-size: $base-font-size * 0.8;
    background-color: #dddddd;
}

.code-block {
    display: block;
    background-color: #dddddd;
    margin: 1rem;
    padding: 1rem;
    font-size: $base-font-size; 
    line-height: $base-line-height;
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
}

.img-profile,
.img-course {
    text-align: center;

    a {
        height: 300px;
        text-decoration: none;

        img {
            height: inherit;
        }
    }
}

.link {
    color: #000;
    font-style: italic;
    border-bottom: 1px solid #CA8029;
    text-decoration: none;
}

.link:hover {
    border-bottom: 2px solid #CA8029;
}

.link:visited {
    color: #000;
}

.card {
    font-size: 200px;
}

// Column layouts
.cols-2 {
    display: flex;
    flex-direction: row;
    gap: 10%;

    .course-info,
    .elmo-info {
        margin: 0.2em;
        width: 45%;
        border-top: 1px solid #CA8029;
    }
}

.flex-col1 {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.flex-center {
    justify-content: center;
}

.game-links,
.nav-report {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    font-size: $base-font-size * 1.1;
    margin-bottom: 10px;

    li {
        list-style-type: none;
    }
}

.message-box {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    font-size: $base-font-size * 1.3;
}

.info {
    background-color: #bce5f8;
}

.success {
    background-color: #e0f2c0;
}

.warning {
    background-color: #fffac0;
}

.error {
    background-color: #f3b9b9;
}

.library {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgb(209, 227, 249);
    border-radius: 10px;

    a {
        text-decoration: none;
        box-shadow: 5px 5px 5px rgb(245, 245, 245, 0.2);
        width: 200px;
        height: 312px;
        background-color: darkblue;
        color: #fff;
    }

    a:hover {
        opacity: 0.5;
    }

    a img {
        width: 200px;
        height: 312px;
        object-fit: cover;
    }
}