.img-profile,
.img-course {
    text-align: center;

    a {
        height: 300px;
        text-decoration: none;

        img {
            height: inherit;
        }
    }
}

.banner {
    margin: 1rem 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 0.9;
    background-color: #CA8029;
}

.article {
    counter-reset: figures;
}

.figure {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    counter-increment: figures;

    img {
        margin: 0 auto;
    }
}

.figcaption {
    margin: 0 auto;
    width: fit-content;
    // text-align: center;
    font-size: 0.8rem;
}

.figcaption::before {
    content: 'Fig. ' counter(figures) ' - ';
}