{% extends "base.html.twig" %}

{% block title %}Game21{% endblock %}

{% block body %}
    <h1>Dokumentation</h1>

    <h2>Klasser</h2>
    <div>
    <p>
        Fundera igenom vilka klasser du behöver för att implementera spelet. Beskriv klasserna i text med klassens namn och en mening som beskriver vad klassens syfte är. Håll det kort och enkelt.
    </p>

    <h2>Flödesschema</h2>
    <div>
    <p>
        Skapa ett flödesschema som representerar hur du tänker lösa grunderna i spelet. Resultatet kan du placera som en bild i webbsidan för dokumentationen. Det behöver inte vara en komplett lösning, en dellösning räcker bra.
    </p>
    </div>
    <iframe frameborder="0" style="width:100%;height:655px;" src="https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&edit=_blank&layers=1&nav=1&page-id=jzGJfJnaShjbMTXZ_vHA&title=UML_Kortlek.drawio#Uhttps%3A%2F%2Fdrive.google.com%2Fuc%3Fid%3D1qIo7t2LJX73xQ3oK5V8UwLoNorSZuz_B%26export%3Ddownload"></iframe>
    </div>

    <h2>Psuedokod</h2>
    <div>
    <p>
        {# Skapa psuedokod som visar hur du tänker lösa delar av spelet. #}
        Nedan visas pseudokod för hur jag tänkte att kontrollera vem som vann spelet.
        Med hjälp av denna pseudokod skapade jag metoden <code>checkWinStatus</code> i Game21-klassen.
        Observera dock att jag gjorde justeringar när jag kodade metoden.
    </p>
    <pre class="code-block">
        <b>Game21->checkWinStatus</b>

        define array[string, int] named $report

        for each $player in $this->queue
            if $player has at least one card in $cardHand then
                call $this->computeHandTotal($player)
                save returned value of type int in $report with key $player->name
            endif
        endfor

        define array[string] $winner
        define array[string] $loser

        for $key, $value in $report
            if $value is greater than 21 then
                add $key to $loser
            else (if $value is lower than 21)
                add $key to $winner
            endif
        endfor

        if length of $winner is greater than 1 then
            define array $diff
            for $key, $value in $report
                assign $diff[$key] is 21 - $value
            endfor
            sort $diff according to values in ascending order
            if values in $diff are equal
                $winner is $player with the name “bank” 
                $loser is $diff without "bank"
            endif
        endif

        return $winner
    </pre>
    </div>

    <a class="button orange-button" href="{{ path('game_home') }}">Tillbaka till spelets landningssida</a>
{% endblock %}