{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>

    <div class="cols-2">
        <div class="course-info">
            <h2>Kursen</h2>
            <p>
                Den här webbplatsen är en del av kursen <a href="https://dbwebb.se/kurser/mvc-v2">Objektorienterade webbteknologier</a>, a.k.a. mvc.
                Kursen fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP.
                Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.
            </p>
            <p>
                Kursens Git-repo finns <a href="https://github.com/dbwebb-se/mvc">här</a>.
            </p>
        </div>
        <div class="elmo-info">
            <h2>Utvecklare</h2>
            <p>
                Den här webbplatsen har utvecklats av <a href="{{ path('home') }}">Elena Moser (elmo22)</a>.
                Stutendents GitHub-repo finns <a href="">här</a>.
            </p>
        </div>
    </div>

    <div class="img-course">
        <a href="https://dbwebb.se/kurser/mvc-v2">
            <img src="{{ asset('img/course.jpg') }}" alt="Course image">
        </a>
    </div>

{% endblock %}