{% extends "base.html.twig" %}

{% block title %}Bibliotek{% endblock %}

{% block body %}
    <h1>Bibliotek</h1>
    <a class="button blue-button" href="{{ path('book_show_all') }}">Visa all böcker i biblioteket</a>
{% endblock %}