{% extends "base.html.twig" %}

{% block title %}Metrics{% endblock %}

{% block body %}
    <h1>Metrics analys</h1>
    <p>
        I denna rapport kommer jag att analysera och diskutera kodkvaliteten i mitt PHP-projekt.
        För att få en överblick över kodens kvalitet kommer jag att använda mig av rapporterna från verktygen <i>phpmetrics</i> och <i>Scrutinizer</i>.
        Genom att definiera mätvärden och identifiera svagheter i koden kommer jag sedan att genomföra en serie förbättringar för att höja kodens kvalitet.
        Slutligen kommer jag att generera nya rapporter baserat på den förbättrade koden och utvärdera om poängen från phpmetrics och Scrutinizer har förbättrats.
        Resultaten av mina förbättringar kommer att diskuteras i avsnittet för diskussion.
    </p>

    <h2>Introduktion</h2>
    <p>
    {# Du förklarar de sex C:na och hur de kan påverka kodens kvalitet.
    Exemplifiera, där det passar, med några mätvärden som är kopplad till din egen kod
    och ge en kort förklaring av mätvärdet relaterat till kodkvalitet. #}
        I den här undersökningen, bedömer jag kodens kvalitet enlight sex C om kodkvalitet som kan ses som sex steg till snyggare och bättre kod.
        I detta avsnitt, föklarar jag de sex C:na om kodkvalitet och hur de kan påverka kodens kvalitet.
    </p>

    <h3>1. Codestyle</h3>
    <p>
        Kodstil är en uppsättning regler och konventioner som används för att skriva läsbar och enhetlig kod.
        Det handlar om att använda en standardiserad och konsekvent stil för variabelnamn, funktioner, kommentarer, indragning, blanksteg och annan formatering av koden.
        En bra kodstil gör det enklare för utvecklare att läsa och förstå koden, särskilt om flera personer samarbetar på samma projekt.
        Det hjälper också till att upprätthålla en hög kvalitetsstandard för koden och gör det lättare att genomföra förändringar och underhåll senare.

        Det finns olika kodstilar som används inom olika programmeringsspråk och utvecklingsmiljöer.
        Det är vanligt att använda kodstilsverktyg eller linters för att automatiskt kontrollera att koden följer den valda kodstilen.
        I denna projekt används verktyg php-cs-fixer, phpstan och phpmd för att säkerställa en god kodstil.
        Dessutom includerar Scrutinizer och phpmetrics olika mått för att ytterligare bedöma kodens kvalitet.
    <p>

    <h3>2. Coverage</h3>
    <p>
        Kodtäckning är en mätning av mängden källkod som har utförts av automatiserade tester.
        Det syns i Scrutinizer-rapporten och kan också inkluderas i phpmetrics-rapporten genom konfiguration.
        När automatiserade tester körs på kodbasen kan Scrutinizer identifiera vilka kodrader som utfördes och vilka som inte gjorde det.
        Denna data används sedan för att beräkna kodtäckningen.
        Den uttrycks som en procentandel av totalt antal kodrader som utfördes under testprocessen.
        Kodtäckningsrapporter som genereras av Scrutinizer kan användas för att identifiera områden i koden som inte testas tillräckligt grundligt.
        Högre täckning kan innebära att koden är väl testad, medan låg täckning vanligtvis innebär att koden inte är väl testad.
        Genom att öka kodtäckningen kan man förbättra tillförlitligheten och kvaliteten på kodbasen samt minska risken för buggar och fel.
    </p>

    <h3>3. Complexity</h3>
    <p>
        Kodkomplexitet definieras med måttet <i>Cyclomatic Complexity</i>.
        Cyklomatisk komplexitet är visas i både Scrutinizers och phpmetrics rapport.
        Cyclomatic complexity kan användas för att uppskatta hur svårt det är att förstå,
        testa och underhålla en kodbas.
        Ju högre cyclomatisk komplexitet, desto mer komplext är programmet
        och desto svårare kan det vara att underhålla och ändra det utan att orsaka buggar eller fel.
        För att beräkna cyclomatisk komplexitet räknar man antalet beslut som finns i en kodbas, såsom "if"-satsar,
        "while"-loopar, "for"-loopar och "case"-satser.
        Sedan adderas 1 till resultatet för varje beslut samt 1 till resultatet för det övergripande flödet.
        Slutresultatet ger antalet oberoende vägar genom koden.
        Cyclomatic complexity är ett viktigt verktyg för att förbättra kodkvaliteten
        och underhållbarheten genom att identifiera kod som är svårt att förstå och testa.
    </p>

    <h3>4. Cohesion</h3>
    <p>
        <i>Cohesion</i> refererar till graden av relation mellan olika delar av en modul eller en klass.
        Det är ett mått på hur tätt relaterade olika funktioner och data i en modul eller klass är till varandra.
        Cohesion finns i både Scrutinizers och phpmetrics rapport, ibland som <i>LCOM</i> ("Lack of Cohesion in Methods").
        En hög cohesion innebär att alla funktioner och data i en modul eller klass är tätt kopplade till varandra
        och har en specifik gemensam uppgift eller ansvar.
        Detta innebär att alla delar av modulen eller klassen arbetar tillsammans för att uppfylla en enda uppgift,
        vilket gör koden mer lättförståelig och underhållbar.
        På motsatt sida, låg cohesion innebär att olika delar av en modul
        eller klass är mindre relaterade till varandra och har olika ansvar och uppgifter.
        Detta kan leda till att koden blir svårläst, svår att underhålla och svårt att testa.
        Det är fördelaktigt att sträva efter hög cohesion i moduler och klasser för att skapa kod som är lätt att förstå och som fungerar på ett förutsägbart sätt.
    </p>

    <h3>5. Coupling</h3>
    <p>
        <i>Coupling</i> avser graden av ömsesidigt beroende mellan moduler eller klasser.
        I både Scrutinizers och phpmetrics rapport anges den <i>afferent</i> och <i>efferent coupling</i> för klasserna.
        Afferent coupling  (alltså inåtgående koppling) mäter antalet andra moduler som är beroende av en specifik modul eller klass.
        Ju högre afferent koppling, desto mer använd och central är denna modul eller klass för resten av programmet.
        Om denna modul eller klass skulle förändras, kan det påverka många andra delar av programmet.
        Efferent coupling (alltså utåtgående koppling) mäter antalet andra moduler eller klasser som en specifik modul eller klass är beroende av.
        Ju högre efferent koppling, desto mer beroende är denna modul eller klass på andra delar av programmet.
        Om någon av de andra modulerna eller klasserna skulle ändras, kan det påverka funktionen och prestandan i denna modul eller klass.
        En hög afferent koppling kan indikera att en modul eller klass har för många ansvarsområden och bör delas upp i mindre delar.
        Å andra sidan kan en hög efferent koppling indikera att en modul eller klass behöver mer testning och skyddande åtgärder,
        eftersom den har många beroenden som kan påverka dess funktion och prestanda.
    </p>

    <h3>6. CRAP</h3>
    <p>
        CRAP står för "Change Risk Analyzer and Predictor"
        och det är ett numeriskt värde som används för att mäta komplexiteten i en kodruta eller en funktion.
        CRAP-poäng kan ses i Scrutinizer-rapporten och i dashboarden i täckningsrapporten från phpunit.
        CRAP-måttet beräknas genom att multiplicera två värden: kodtäckning och komplexitet som nämts ovan.
        Ett högt CRAP indikerar allstå att en kodruta eller funktion har hög komplexitet och är dåligt täckt av automatiserade tester,
        vilket är en bra indikation på att det behöver refaktoreras eller förbättras.
        Genom att använda CRAP tillsammans med andra metoder för att mäta kodkvalitet och prestanda, kan utvecklare skapa en kodbas som är mer robust, lättläst och underhållbar.
    </p>

    <h2>PhpMetrics</h2>
    <p>
        PhpMetrics är ett verktyg för att mäta och analysera koden i PHP-program.
        Det hjälper utvecklare att mäta och övervaka kvaliteten på sin PHP-kod 
        genom att ge en omfattande och visuell översikt över kodkomplexitet, underhållbarhet och prestanda.
        PhpMetrics kan användas som en del av en CI/CD-pipeline eller som en fristående applikation för att utvärdera och förbättra kodkvaliteten.
        Verktyget analyserar PHP-koden baserat på ett antal metriker som mäts på både fil- och projekt nivå.
        PhpMetrics ger också en grafisk representation av kodmetrikerna och tillhandahåller diagram, grafer och tabeller som hjälper utvecklare att få en bättre förståelse av koden.
        Detta kan hjälpa utvecklare att identifiera och åtgärda problem i koden och göra den mer läsbar, effektiv och hållbar.
    </p>
    <figure class="figure">
        <img alt="Maintainability and Complexity Diagram" src="{{ asset('img/metrics/phpmetrics_maintainability_complexity.png') }}"
        style="width: 400px;">
        <figcaption class="figcaption">
            Varje fil i projektet symboliseras av en cirkel.
            Cirkelns storlek representerar den cyklomatiska komplexiteten.
            Cirkelns färg representerar indexet för underhållbarhet.
            Stora röda cirklar är sannolikt svårast att underhålla.
        </figcaption>
    </figure>
    <p>
    {# Analysera dess rapport för din kod.
    Använd mätvärdena för att hitta flaskhalsar och svaga punkter i din kod (minst 3 stycken).
    Du vill hitta kod som har förbättringspotential.
    Visualisera med någon representativ bild från rapporten. #}
    Codestyle
        > Under violations it shows that JsonApiController does not follow the single responsibility principle,
        > Game21 has gone over the max Cyclomatic complexity
    Coverage > Controllers have low test coverage
    Complexity > Controllers have high complexity, average Cyclomatic Complexity per class 6.42
    Cohesion > unsurprizingly JsonApiController has high LCOM
    Coupling > Controllers hight efferent coupling, while Game classes higher afferent coupling > controller prone to instability

    Förbättringar
        > Do more testing especially of the Controller classes
        > Spend some time on fixing violation errors or warnings
    </p>

    <h2>Scrutinizer</h2>
    <p>
        Scrutinizer är ett vertyg som erbjuder automatiserad kodgranskning och kontinuerlig integration för programvara.
        Verktyget använder olika algoritmer och analyser för att kontrollera koden på flera nivåer, inklusive kodstil, säkerhet, prestanda och buggar.
        När Scutinizer analyserar ens kod utför den en rad tester och returnerar en rapport som visar resultatet av varje test.
        Rapporten inkluderar ofta en bedömning av kodkvaliteten och förslag på förbättringar.
        Nedan visas Scrutinizers totala betyg för mitt projekt (vilket är ett tal mellan 0 (dåligt) och 10 (mycket bra)),
        en procentuell poäng för kodtäckning och en flagga som visar om byggningen misslyckades eller godkändes.
    </p>

    <img alt="Scrutinizer badge" src="https://scrutinizer-ci.com/g/elemoser/report/badges/quality-score.png?b=main">
    <img alt="Coverage badge" src="https://scrutinizer-ci.com/g/elemoser/report/badges/coverage.png?b=main">
    <img alt="build badge" src="https://scrutinizer-ci.com/g/elemoser/report/badges/build.png?b=main">
    {# <img alt="code intelligence badge" src="https://scrutinizer-ci.com/g/elemoser/report/badges/code-intelligence.svg?b=main"> #}

    <p>
    {# Analysera dess rapport för din kod. Gör på samma sätt som du gjorde med Phpmetrics. #}
    Codestyle > there are 7 issues to fix
        > worst rated PHP Operations are Game21::checkWinStatus()
    Coverage > low coverage meaning more tests are needed
    Complexity > most complex class Game21, most complext operation Game21::checkWinStatus
    Cohesion
    Coupling
    CRAP > least tested PHP Operations with highest CRAP score
    JsonApiController::apiGame21()
    BookController::createBook()
    Game21Controller::gamePlay()
    JsonApiController::apiDeckDrawNumPost()
    </p>

    <h2>Förbättringar</h2>
    {# Väljer minst 3 förbättringar som du vill göra med din kod (gärna fler).
    Exempel på förbättringar kan vara:
        Fixa issues
        Öka kodtäckning
        Fokusera på kvalitetsindex i Scrutinizer
        Minska komplexiteten i class/metod
        Börja med att skriva om förbättringarna, vad du tänker göra, varför du väljer dem och hur du tror det kommer påverka mätvärdena för kvalitet.
    Implementera sedan förbättringarna.
    Analysera därefter rapporterna från phpmetrics och Scrutinizer och notera de nya mätvärdena.
    Gör det tydligt hur mätvärdena såg ut innan och efter dina förbättringar. #}
    <p>
    Baserat på resultaten ovan har jag identifierat ett antal förbättringar för att öka kvaliteten på min kod.
    Sammanfattningsvis kan man säga att ...

    Nedan listar jag de förbättringar som jag vill utföra.
    <ul>
        <li>Öka kodtäckning genom att skapa en testsuite for Controller klasser</li>
        <li>Dela upp JsonApiController klassen i flera klasser för att minksa LCOM och publika metoder (cf. phpmetrics rapporten)</li>
        <li>Minska komplexiteten i Game21 class for metoden checkWinStatus()</li>
        <li>Fixa issues identifierad av Scrutinizer</li>
        <li></li>
    </ul>
    </p>
    <figure class="figure">
        <img alt="Issues before improvements" src="{{ asset('img/metrics/scrutinizer_issues.png') }}"
        style="width: 80%;">
        <figcaption class="figcaption">
            Problem i Scrutinizer före förbättringar.
        </figcaption>
    </figure>

    <h2>Diskussion</h2>
    <p>
    {# Kan man aktivt jobba med kodkvalitet och “clean code” på detta sättet?
    Finns det fördelar och kanske nackdelar?
    Ser du andra möjligheter att jobba mot “clean code”? #}
    </p>
{% endblock %}