{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Dra ett kort från kortleken</h1>
    <p>Antal kort kvar: {{ deckCount }}</p>
    <div>
    <span class="card" style="color: {{ cardColor }}">&#{{ cardString }}</span>
    </div>
    <a class="button orange-button" href="{{ path('card_home') }}">Tillbaka till spelets landningssida</a>
{% endblock %}