{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Sorterade kort</h1>
    <a href="{{ path('card_home') }}">Tillbaka till spelets landningssida</a>
{% endblock %}