{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Sorterade kort</h1>
    <p>Antal kort: {{ deckCount }}</p>
    <div>
        {% for key, value in deckStrings %}
        <span class="card" style="color: {{deckColors[key]}}">&#{{ value }}</span>
        {% endfor %}
    </div>
    <a class="button orange-button" href="{{ path('card_home') }}">Tillbaka till spelets landningssida</a>
{% endblock %}